.selected {
    background-color: black;
    color: white;
}
.hidden {
    display: none;
}
.main-wrapper{
    display: flex;
   width: 100%;
}
.fav-container {
    background-color: brown;
    width: 30%;
}
.results-container{
    background-color: cyan;
    width: 70%;
}
